*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
html,
body{
    overflow-x: hidden;
}
.table{
    background-color: rgb(0, 0, 0) !important;
}

body{
    text-align:center;
    color:white !important;
    background-color: rgb(0, 0, 0) !important;
}